
*.udf

/cocosstudio/achannel/
/cocosstudio/activity/
/cocosstudio/club/
/cocosstudio/common/
/cocosstudio/Email/
/cocosstudio/expression/
/cocosstudio/fonts/
/cocosstudio/friend_end/
/cocosstudio/game/
/cocosstudio/GetPropLayer/
/cocosstudio/GoldGame/
/cocosstudio/Guild/
/cocosstudio/Guild_6/
/cocosstudio/GuildActivity/
/cocosstudio/hall_1/
/cocosstudio/hall_2/
/cocosstudio/hall_3/
/cocosstudio/hall_4/
/cocosstudio/hall_5/
/cocosstudio/hall_6/
/cocosstudio/hall_7/
/cocosstudio/invite/
/cocosstudio/items/
/cocosstudio/laopai/
/cocosstudio/login/
/cocosstudio/majiang/
/cocosstudio/mall/
/cocosstudio/MsgBox/
/cocosstudio/position/
/cocosstudio/proxy/
/cocosstudio/puke/
/cocosstudio/record/
/cocosstudio/region/
/cocosstudio/room/
/cocosstudio/settings/
/cocosstudio/share/
/cocosstudio/sports/
/cocosstudio/sportsgame/
/cocosstudio/tszipai/
/cocosstudio/TuHao/
/cocosstudio/user/
/cocosstudio/welfare/
/cocosstudio/zipai/
/cocosstudio/newclub/
/cocosstudio/hall_8/
/cocosstudio/hall_9/
/cocosstudio/hall_10/
/cocosstudio/hall_11/
/cocosstudio/cdzipai/
/Loading/
/cocosstudio/anhua/
/cocosstudio/chat/
/cocosstudio/goods/
/cocosstudio/hall/
/cocosstudio/huaihua/
/cocosstudio/hyphz/
/cocosstudio/newchat/
/cocosstudio/newcommon/
/cocosstudio/newmall/
/cocosstudio/newrecord/
/cocosstudio/newroom/
/cocosstudio/newshare/
/cocosstudio/perfectinfo/
/cocosstudio/recommend/
/cocosstudio/roomjoin/
/cocosstudio/statistics/
/cocosstudio/yongzhou/
/cocosstudio/zhuzhou/


